.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title {
    font-size: 32px;
    font-weight: 700;
}

.blog__btn {
    width: 325px;
    font-family: Inter !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center;
    vertical-align: middle;
}

.blog__arrow {
    margin-left: 8px;
}

.blog__articles-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex: 1 1 0%;
}

.blog__loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.blog__article-card {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.blog__article-content {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 12px;
}

.blog__article-link {
    border-radius: 20px;
    overflow: hidden;
}

.blog__article-image {
    object-fit: cover;
    height: 216px;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
}

.blog__article-title {
    font-family: Inter;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #1D1D1D;
}

.blog__article-description {
    color: #0A0A0AB2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.blog__article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.blog__article-info-date,
.blog__article-info-views {
    display: flex;
    gap: 12px;
    align-items: center;
}

.blog__article-info-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.blog__article-info-text {
    color: #0A0A0AB2;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1024px) {
    .blog__articles-container {
        flex-direction: column;
    }

    .blog__article-card {
        width: 100%;
    }
}