.calculator {
    flex-direction: column;
    background: #F4F6FC;
}

.calculator__header{
    align-items: center;
    text-align: center !important;
    gap: 20px;
}
.calculator__container{
    display: flex;
    gap: 24px;
    width: 100%;
}

.calculator__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.calculator__results {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.calculator__result-label {
    color: #7B87A6;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
}

.calculator__result-value {
    color: #282F3D;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}


.calculator__input, .calculator__select, .calculator__result {
    padding: 14px 21px;
    border-radius: 16px;
    border: 1px solid #D4E4FF;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 76px;
}

.calculator__select {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding-top: 27px;
}

.select__icon{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: #7B87A6;
    pointer-events: none;
    box-sizing: border-box;
  }

  .select {  
    display: block;
    overflow: hidden;
    width: 100%;
    height: 76px;
    position: relative;
    font-size: 16px;
  }

.calculator__select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }

.calculator__input,
.calculator__select {
    color: #282F3D;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.calculator__bottom-text {
    max-width: 540px;
    color: #364057;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 12px;
}

.calculator__input-price {
    width: fit-content;
    background: inherit;
    border: none;
    min-width: none;
}


.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }
  
.price-display {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #282F3D;
}

.fake-input {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #282F3D;
    width: 100%;
  }
  
.display-text {
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 0 16px;
    color: #282F3D;
}

.input-overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    color: transparent;
    caret-color: black;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 4px;
    z-index: 2;
    width: 100%; 
    padding: 0 16px;
}


.calculator__input {
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px){
    .calculator__container {
        flex-direction: column;
    }

    
}