.preview {
    justify-content: space-between;
    align-items: center;
}

.preview__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 660px;
}

.preview__buttons {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.preview__button {
    padding: 12px 24px !important;
    font-family: Inter;
    font-weight: 550 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

.preview__button:nth-child(1) {
    width: 35%;
}

.preview__button:nth-child(2) {
    width: 65%;
}

.preview__arrow {
    margin-left: 12px;
}

.preview__image  {
    max-width: 460px;
}

@media (min-width: 1024px) and ( max-width: 1300px) {
    .preview {
        padding-inline: 60px;
    } 

    .preview__image {
        max-width: 270px;
        margin: 0 auto;
    }
}



@media (max-width: 1024px){
    .preview {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .preview {
        padding-top: 40px;
    }

    .preview__buttons{
        flex-direction: column;
    }


    .preview__button {
        font-family: Inter;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 28px !important;
        text-align: center;
        vertical-align: middle;

    }

    .preview__image {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }  
    
    .preview__button:nth-child(1) {
        width: 100%;
    }
    
    .preview__button:nth-child(2) {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .preview__image {
        max-width: 100%;
        height: auto;
    }
    .preview__button {
        white-space: normal !important;
    }    
}