.ref {
    background: #F4F6FC;
    justify-content: center;
    align-items: center;
}

.ref__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ref__title {
    color: #282F3D;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    max-width: 612px;
}

.ref__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: var(--primary-color);
}

.ref__image{
    width: 100%;
    max-width: 481px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .ref{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .ref__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        
    }

    .ref__link {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
    }


}