.tariffs {
    flex-direction: column;
}

.tariffs__header {
    max-width: 950px;
}

.toggle-container {
    display: flex;
    width: fit-content;
    background: #ebeffa;
    padding: 2px;
    border-radius: 10px;
    margin: 0 auto;
}
.toggle-btn {
    background: transparent;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #364057;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 140px;

}
.toggle-btn.active {
    background: white;
}
.tariff-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: #282F3D;
    border-radius: 10px;
}
.tariff-table th, .tariff-table td {
    border: 1px solid #DBE5EF;
    padding: 10px;
    text-align: left;
}
.tariff-table th {
    background: #F6F9FC;
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 20px;
}

.tariff-table td {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 20px;
}

.tariff-table thead tr:first-child th:first-child {
    border-radius: 10px 0 0 0px;
}

.tariff-table thead tr:first-child th:last-child {
    border-radius: 0 10px 0px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tariff-table tbody tr {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.3s ease-in-out forwards;
}

.toggle-btn {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.toggle-btn.active {
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.tariff-table tbody tr:nth-child(1) { animation-delay: 0.1s; }
  .tariff-table tbody tr:nth-child(2) { animation-delay: 0.2s; }
  .tariff-table tbody tr:nth-child(3) { animation-delay: 0.3s; }
  .tariff-table tbody tr:nth-child(4) { animation-delay: 0.4s; }
  .tariff-table tbody tr:nth-child(5) { animation-delay: 0.5s; }
  .tariff-table tbody tr:nth-child(6) { animation-delay: 0.6s; }
  .tariff-table tbody tr:nth-child(7) { animation-delay: 0.7s; }
  .tariff-table tbody tr:nth-child(8) { animation-delay: 0.8s; }
  .tariff-table tbody tr:nth-child(9) { animation-delay: 0.9s; }
  .tariff-table tbody tr:nth-child(10) { animation-delay: 1.0s; }
  
  .tariff-cards {
    display: none;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .tariff__card {
    display: flex;
    gap: 16px;
    flex-direction: column;

    border: 1px solid #DBE5EF;
    border-radius: 12px;
    padding: 16px;
    background-color: #F6F9FC33;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease forwards;
  }
  
  .tariff__card:nth-child(1) { animation-delay: 0.1s; }
  .tariff__card:nth-child(2) { animation-delay: 0.2s; }
  .tariff__card:nth-child(3) { animation-delay: 0.3s; }
  .tariff__card:nth-child(4) { animation-delay: 0.4s; }
  .tariff__card:nth-child(5) { animation-delay: 0.5s; }
  .tariff__card:nth-child(6) { animation-delay: 0.6s; }
  .tariff__card:nth-child(7) { animation-delay: 0.7s; }
  .tariff__card:nth-child(8) { animation-delay: 0.8s; }
  .tariff__card:nth-child(9) { animation-delay: 0.9s; }
  .tariff__card:nth-child(10) { animation-delay: 1.0s; }
  
  .tariff__card-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 8px;
  }
  
  .tariff__card-title {
    font-weight: 510;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #616161;
  }
  
  .tariff__card-value {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #282F3D;
  }
  
  .tariff__card-discount {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #E86B35;
  }
  
  .divider {
    border-top: 1px dashed #DBE5EF;
  }
  
  .tariff__card-container {
    display: flex;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 1024px) {
    .toggle-btn {
      width: 100%;
    }

    .toggle-container {
      width: 100%;
      display: flex;
      flex: 1 1 0%;
    }
  }
  
  @media (max-width: 767px) {
    .tariff-table {
      display: none;
    }
    
    .tariff-cards {
      display: flex;
    }
    
    .tariff__card-container {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }