@import './header.css';
@import './footer.css';
@import './sections/preview.css';
@import './sections/reviews.css';
@import './sections/marketplaces.css';
@import './sections/try.css';
@import './sections/work.css';
@import './sections/tariffs.css';
@import './sections/calculator.css';
@import './sections/test.css';
@import './sections/blog.css';
@import './sections/faq.css';
@import './sections/ref.css';
@import './sections/videos.css';
@import './sections/difference.css';


* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-variation-settings: "wght" 100;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-variation-settings: "wght" 100;
}

:root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    --primary-color: #E86B35;
    --secondary-color: #F4F6FC;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter', sans-serif;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px; 
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

section {
    min-height: 450px;
    padding: 60px 7.5rem;
    display: flex;
    gap: 80px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

label {
    cursor: pointer;
}

input:placeholder-shown
 {
    text-overflow: ellipsis
 }

select option[value=""] {
    display: none;
}
.btn {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0.5rem 0.6rem;
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:disabled {
    background: #f4b59a;
}

.btn-primary:hover {
    background-color: #c94208;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: black;
}

.btn-secondary:hover {
    background-color: #E2E6F5;
}

.logo {
    width: 101px;
    height: 32px;
    object-fit: contain;
}

.default__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    vertical-align: middle;
    color: #282F3D;
}

.default__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
}

.default__container-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.publish-btn {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    width: 413px;
    height: 52px;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center;
    vertical-align: middle;
}

.text__background-orange {
    background: #ffe6e0;
}

.text__background-green {
    background: #c7fac3;
}

.text__background-blue {
    background: #d4e4ff;
}


.no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .header {
    width: 100%;
    min-height: 4rem;
    background-color: #FFFFFF;
    border-bottom: 0.0625rem solid #E2E6F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 7.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__logo {
    margin-right: 0.75rem;
}

.header__link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.header__actions {
    display: flex;
    gap: 1.5rem;
}

.header__socials {
    display: flex;
    gap: 0.625rem;
}

.header__social {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #EBEFFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.header__social img {
    width: 2rem;
    height: 2rem;
}

.header__social:hover {
    background-color: #bbb;
}

.header__btn {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.625rem 2rem !important;
    border-radius: 0.625rem;
    border: none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-inline: 10px !important;
}

/* Скрытая модалка */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .modal__content {
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;
    width: 506px;
    position: relative;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .modal__close {
    background: none;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    color: #666;
    margin-bottom: auto;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal__title {
    color: #222222;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
  }
  
  .modal__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #364057;
    margin-top: 12px;
  }
  
  .modal__input {
    width: 100%;
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: none;
    background: #F4F6FC;
    height: 56px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #282F3D;
  }
  
  .modal__button {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center;
    vertical-align: middle;
    height: 52px;
  }

  .header__btns {
    display: flex;
    gap: 10px;
  }
  .header__btn-image {
    display: flex;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .header__btn-text {
    display: block;
  }

  .footer {
    background: black;
    color: white;
    padding: 60px 80px 40px 80px;
}

.footer__content {
    padding-inline: 40px;
    padding-top: 41px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__links:last-child {
   text-align: right;
}

.footer__links:last-child .footer__link {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.footer__links .footer__link--email {
    color: #47A4D2;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;    
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.footer__label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-btn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
}

.footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: #FFFFFFCC;
}

.preview {
    justify-content: space-between;
    align-items: center;
}

.preview__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 660px;
}

.preview__buttons {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.preview__button {
    padding: 12px 24px !important;
    font-weight: 550 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

.preview__button:nth-child(1) {
    width: 35%;
}

.preview__button:nth-child(2) {
    width: 65%;
}

.preview__arrow {
    margin-left: 12px;
}

.preview__image  {
    max-width: 460px;
}

@media (min-width: 1024px) and ( max-width: 1300px) {
    .preview {
        padding-inline: 60px;
    } 

    .preview__image {
        max-width: 270px;
        margin: 0 auto;
    }
}



@media (max-width: 1024px){
    .preview {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .preview {
        padding-top: 40px;
    }

    .preview__buttons{
        flex-direction: column;
    }


    .preview__button {
            font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 28px !important;
        text-align: center;
        vertical-align: middle;

    }

    .preview__image {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }  
    
    .preview__button:nth-child(1) {
        width: 100%;
    }
    
    .preview__button:nth-child(2) {
        width: 100%;
    }
}

.reviews {
    flex-direction: column;
    color: #282F3D;
    overflow: hidden;
    min-height: 600px; 
}

.reviews__header {
    max-width: 900px;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.reviews__cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.reviews__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 0%;
    max-width: 378px;
    padding: 40px;
    border-radius: 24px;
    height: 346px;
}

.reviews__card--purple {
    background: #F3EDFC;
}

.reviews__card--green {
    background: #E5FCD9;
}

.reviews__card--yellow {
    background: #FFF7D4;
}

.reviews__card-icon {
    border-radius: 16px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews__card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
} 

.reviews__card-value {
    font-weight: 700;
    font-size: 58px;
    line-height: 72px;
}

.reviews__card--purple .reviews__card-icon {
    background: #E1D4FC;
}

.reviews__card--green .reviews__card-icon {
    background: #C2FAA0;
}

.reviews__card--yellow .reviews__card-icon {    
    background: #FFEAAD;
}

.reviews__card--purple .reviews__card-title {
    border-bottom: 2px dashed #CCB6FC;
}

.reviews__card--green .reviews__card-title {
    border-bottom: 2px dashed #A3EB6C;
}

.reviews__card--yellow .reviews__card-title {
    border-bottom: 2px dashed #FFD684;
}


.slider {
    background: white;
    height: 346px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider__track {
    animation: scroll 80s linear infinite;
    display: flex;
    gap: 32px;
    width: calc(490px * 20);
}

.slider__slide {
    display: flex;
    flex-direction: column;
    height: 346px;
    width: 490px;
    border: 2px #E2E6F5 solid;
    border-radius: 20px;
    padding: 20px 32px;
}

.slider__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.slider__author {
    display: flex;
    gap: 12px;
    align-items: end;
    margin-top: auto;
}

.slider__author-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.slider__author-name {
    font-weight: 600;
    font-size: 18px;
}

.slider__author-prof {
    font-weight: 400;
    font-size: 14px;
    color: #697696;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-490px * 10 - 12px * 8)); }
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.reviews__content--title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.reviews__content--title .default__title, .reviews__content--title .default__text {
    text-align: center;
    max-width: 900px;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.reviews__content--cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.reviews__content--card {  
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 0%;
    max-width: 378px;
    padding: 40px;
    border-radius: 24px;
    height: 346px;
}

.card__purple {
    background: #F3EDFC;
}   

.card__green {
    background: #E5FCD9;
}

.card__yellow {
    background: #FFF7D4;
}

.card__purple .reviews__content--card__img {
    background: #E1D4FC;
}

.card__green .reviews__content--card__img {
    background: #C2FAA0;
}

.card__yellow .reviews__content--card__img {    
    background: #FFEAAD;
}

.reviews__content--card__img {
    border-radius: 16px;
    width: fit-content;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews__content--card__image {
    width: 21px;
    height: 24px;
    object-fit: contain;
}

.reviews__content--card__title {
    color: #282F3D;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
} 

.card__purple .reviews__content--card__title {
    border-bottom: 2px dashed #CCB6FC;
}

.card__green .reviews__content--card__title {
    border-bottom: 2px dashed #A3EB6C;
}

.card__yellow .reviews__content--card__title {
    border-bottom: 2px dashed #FFD684;
}

.reviews__content--card__span {
    color: #282F3D;
    font-weight: 700;
    font-size: 58px;
    line-height: 72px;
    vertical-align: middle;
}

.slider::before,
.slider::after {
    content: "";
    height: 346px;
    position: absolute;
    width: 200px;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.reviews.loading .slider__track {
    animation: none;
  }
  
.reviews.loaded .slider__track {
animation: slide 40s linear infinite;
}

.marketplaces {
    background-color: #F4F6FC;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.marketplaces .default__title {
    text-align: center;
    max-width: 700px;
}

.marketplaces__markets {
    box-shadow: 0px 10px 30px 0px #1C415C40;
    background-color: white;
    display: flex;
    gap: 24px;
    padding: 32px 40px;
    border-radius: 24px;
    position: relative;
}

.marketplaces__markets::before {
    content: "МАРКЕТПЛЕЙСЫ";
    padding: 17px 25px;
    position: absolute;
    top: -50px;
    transform: translateX(0%);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: black;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #E86B35;
    border-radius: 12px;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0px 10px 30px 0px #1C415C40;
}
.marketplaces__other .marketplaces__markets:nth-of-type(1) {
    padding-inline: 32px;
}

.marketplaces__markets:nth-of-type(2) {
    padding-inline: 52px;
}

.marketplaces__markets:nth-of-type(3) {
    padding-inline: 52px;
}

.marketplaces__markets:nth-of-type(1)::before {
    content: "Маркетплейсы";
    transform: rotate(-4.09deg);
    left: 0%;
}

.marketplaces__other .marketplaces__markets:nth-of-type(1)::before {
    content: "Недвижимость";
    transform: rotate(-0.21deg) translateX(-5%);
    left: 0%;
}

.marketplaces__markets:nth-of-type(2)::before {
    content: "Карты";
    transform: rotate(-1.97deg) translateX(10%);
    right: 0%;
}


.marketplaces__markets:nth-of-type(3)::before {
    content: "Соц. сети";
    transform: rotate(-1.97deg) translateX(15%);
    right: 0%;
}

.marketplaces__markets-card {
    box-shadow: 
        0px 2.78px 5.56px 0px rgba(10, 10, 10, 0.04),
        0px 11.12px 16.67px -5.56px rgba(10, 10, 10, 0.03),
        0px 22.23px 33.35px -11.12px rgba(10, 10, 10, 0.03),
        0px 8px 10px -6px rgba(0, 0, 0, 0.10),
        0px 20px 25px -5px rgba(0, 0, 0, 0.10),
        0px 0px 0px 1px rgba(255, 255, 255, 1);

    border: 1px solid white;

    border-radius: 24px;
    
    object-fit: contain;
}

.marketplaces__other {
    display: flex;
    gap: 32px;
}

.tryIt {
    padding-top: 0;
    min-height: auto ;
    padding-inline: 80px;
   }
   
   .tryIt__content {
       border-radius: 40px;
       background-color: #EDF5FF;
       background-image: url('../../img/try/SVG.png');
       background-repeat: no-repeat;
       background-position: right center;
       background-size: contain;
       display: flex;
       width: 100%;
       gap: 32px;
       padding: 32px 24px;
       position: relative;
       overflow: hidden;
   }
   
   
   .tryIt__coin {
       width: 120px;
       height: 120px;
       object-fit: contain;
   }
   
   .tryIt__text {
       display: flex;
       flex-direction: column;
       gap: 6px;
       max-width: 660px;
   }
   
   .tryIt__title {
       color: #282F3D;
       font-weight: 700;
       font-size: 32px;
       line-height: 40px;
       vertical-align: middle;
       z-index: 1;
   }
   
   .tryIt__description {
       color: #282F3D;
       font-weight: 400;
       font-size: 18px;
       line-height: 28px;
       vertical-align: middle;
       z-index: 1;
   }
   
   .tryIt__buttons {
       display: flex;
       flex-direction: column;
       margin-left: auto;
       gap: 12px;
       z-index: 1;
   }
   
   .tryIt__btn {
       width: 388px;
       height: 60px;
       font-weight: 600 !important;
       font-size: 16px !important;
       line-height: 28px !important;
       vertical-align: middle;
       border-radius: 14px;
   }
   
   .tryIt__policy {
       font-weight: 500;
       font-size: 14px;
       line-height: 100%;
       letter-spacing: 0%;
       text-align: center;
       color: #282F3D;
   }
   
   .tryIt__link {
       font-weight: 500;
       font-size: 14px;
       line-height: 100%;
       letter-spacing: 0%;
       text-align: center;
       text-decoration: underline;
       text-decoration-style: solid;
       text-decoration-thickness: 0%;
   
   }

   .difference {
    flex-direction: column;
    align-items: center;
}

.difference .default__title {
    text-align: center;
    max-width: 860px;
}

.difference__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.difference__card:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.difference__card:nth-child(2){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.difference__card-double {
    display: flex;
    gap: 24px;
}

.difference__card-double .difference__container{
    width: 50%;
}
.difference__card-solo{
    display: flex;
    margin: 0 auto;
    max-width: 50%;
}

.difference__card {
    padding: 20px;
    background: #f4f6fc;
    min-height: 418px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.difference__card-info{
    display: flex;
    gap: 12px;
    align-items: center;
}

.difference__image {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.difference__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    vertical-align: middle;
    color: #282F3D;
}

.difference__card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    vertical-align: middle;
    color: #282F3D;
    margin-top: 12px;
}

.difference__card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #282F3D;
    margin-top: 8px;
}

.difference__card-image{
    width: 100%;
    height: 166px;
    object-fit: cover;
    margin-top: auto;
}

.difference__container {
    display: flex;
}


.work {
    flex-direction: column;
    gap: 80px;
    background: #F4F6FC;
}

/* .work__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */

.work__video {
    width: 100%;
    height: auto;
    /* max-height: 580px; */
    object-fit: cover;
    border-radius: 32px;
}

.work__steps {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 28px;
}

.work__step {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 0%;
    background: white;
    padding: 24px;
    border-radius: 24px;
    /* counter-reset: step-counter; */
    overflow: hidden;
    height: 328px;
}

.work__step-title {
    position: relative;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    vertical-align: middle;

    color: #282F3D;
}

.work__step-title::before {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
}

.work__step:nth-of-type(1) .work__step-title::before {
    content: "1. "; 
}

.work__step:nth-of-type(2) .work__step-title::before {
    content: "2. ";
}

.work__step:nth-of-type(3) .work__step-title::before {
    content: "3. ";
}

.work__step:nth-of-type(4) .work__step-title::before {
    content: "4. ";
}


.work__step-description {
    color: #697696;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.work__step-image {
    display: flex;
    margin-left: auto;
    margin-top: auto;    
    transform: translateX(24px) translateY(24px);
    box-shadow: 0px 10px 30px 0px #1C415C40;
    border-radius: 12px 0 0 0;
    width: 95%;
    height: 144px;
    object-fit: cover;
}

.tariffs {
    flex-direction: column;
}

.tariffs__header {
    max-width: 950px;
}

.toggle-container {
    display: flex;
    width: fit-content;
    background: #ebeffa;
    padding: 2px;
    border-radius: 10px;
    margin: 0 auto;
}
.toggle-btn {
    background: transparent;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #364057;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 140px;

}
.toggle-btn.active {
    background: white;
}
.tariff-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: #282F3D;
    border-radius: 10px;
}
.tariff-table th, .tariff-table td {
    border: 1px solid #DBE5EF;
    padding: 10px;
    text-align: left;
}
.tariff-table th {
    background: #F6F9FC;
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 20px;
}

.tariff-table td {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 20px;
}

.tariff-table thead tr:first-child th:first-child {
    border-radius: 10px 0 0 0px;
}

.tariff-table thead tr:first-child th:last-child {
    border-radius: 0 10px 0px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tariff-table tbody tr {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.3s ease-in-out forwards;
}

.toggle-btn {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.toggle-btn.active {
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.tariff-table tbody tr:nth-child(1) { animation-delay: 0.1s; }
  .tariff-table tbody tr:nth-child(2) { animation-delay: 0.2s; }
  .tariff-table tbody tr:nth-child(3) { animation-delay: 0.3s; }
  .tariff-table tbody tr:nth-child(4) { animation-delay: 0.4s; }
  .tariff-table tbody tr:nth-child(5) { animation-delay: 0.5s; }
  .tariff-table tbody tr:nth-child(6) { animation-delay: 0.6s; }
  .tariff-table tbody tr:nth-child(7) { animation-delay: 0.7s; }
  .tariff-table tbody tr:nth-child(8) { animation-delay: 0.8s; }
  .tariff-table tbody tr:nth-child(9) { animation-delay: 0.9s; }
  .tariff-table tbody tr:nth-child(10) { animation-delay: 1.0s; }
  
  .tariff-cards {
    display: none;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .tariff__card {
    display: flex;
    gap: 16px;
    flex-direction: column;

    border: 1px solid #DBE5EF;
    border-radius: 12px;
    padding: 16px;
    background-color: #F6F9FC33;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease forwards;
  }
  
  .tariff__card:nth-child(1) { animation-delay: 0.1s; }
  .tariff__card:nth-child(2) { animation-delay: 0.2s; }
  .tariff__card:nth-child(3) { animation-delay: 0.3s; }
  .tariff__card:nth-child(4) { animation-delay: 0.4s; }
  .tariff__card:nth-child(5) { animation-delay: 0.5s; }
  .tariff__card:nth-child(6) { animation-delay: 0.6s; }
  .tariff__card:nth-child(7) { animation-delay: 0.7s; }
  .tariff__card:nth-child(8) { animation-delay: 0.8s; }
  .tariff__card:nth-child(9) { animation-delay: 0.9s; }
  .tariff__card:nth-child(10) { animation-delay: 1.0s; }
  
  .tariff__card-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 8px;
  }
  
  .tariff__card-title {
    font-weight: 510;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #616161;
  }
  
  .tariff__card-value {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #282F3D;
  }
  
  .tariff__card-discount {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #E86B35;
  }
  
  .divider {
    border-top: 1px dashed #DBE5EF;
  }
  
  .tariff__card-container {
    display: flex;
  }

  .calculator {
    flex-direction: column;
    background: #F4F6FC;
}

.calculator__header{
    align-items: center;
    text-align: center !important;
    gap: 20px;
}
.calculator__container{
    display: flex;
    gap: 24px;
    width: 100%;
}

.calculator__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.calculator__results {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.calculator__result-label {
    color: #7B87A6;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
}

.calculator__result-value {
    color: #282F3D;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}


.calculator__input, .calculator__select, .calculator__result {
    padding: 14px 21px;
    border-radius: 16px;
    border: 1px solid #D4E4FF;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 76px;
}

.calculator__select {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding-top: 27px;
}

.select__icon{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: #7B87A6;
    pointer-events: none;
    box-sizing: border-box;
  }

  .select {  
    display: block;
    overflow: hidden;
    width: 100%;
    height: 76px;
    position: relative;
    font-size: 16px;
  }

.calculator__select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }

.calculator__input,
.calculator__select {
    color: #282F3D;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.calculator__bottom-text {
    max-width: 540px;
    color: #364057;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 12px;
}

.calculator__input-price {
    width: fit-content;
    background: inherit;
    border: none;
    min-width: none;
}


.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }
  
.price-display {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #282F3D;
}

.fake-input {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #282F3D;
    width: 100%;
  }
  

.input-overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    color: transparent;
    caret-color: black;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 4px;
    z-index: 2;
    width: 100%; 
    padding: 0 16px;
}


.calculator__input {
    flex-direction: row;
    align-items: center;
}

.display-text {
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 0 16px;
    color: #757575;
    transition: color 0.2s ease;
  }
  
.display-text.active {
    color: #282F3D;
}
  
.videos {
    flex-direction: column;
    overflow: hidden;
}

.videos .default__title {
    text-align: center;
}

.video__reviews {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.video__review-wrapper {
    position: relative;
    width: 378px;
    height: 486px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}

.video__review {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(27, 91, 247, 0) 70.16%, rgba(0, 0, 0, 0.7) 99.93%);
    z-index: 1;
    pointer-events: none;
}

.video__watch {
    position: absolute;
    z-index: 10; 
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    width: 80px; 
    height: 80px;
}

.video__watch-side {
    display: none;
}

#slider {
    overflow:hidden;
    width:493px;
    height:308px;
    position:relative;
}

.video__review-wrapper:nth-child(2) {
    height: 520px;
}

.video__review-wrapper:nth-child(2) .gradient {
    background: linear-gradient(180deg, rgba(27, 91, 247, 0) 70.16%, rgba(27, 91, 247, 0.7) 99.93%);
}

.modal video {
    width: 80%;
    max-width: 800px;
}
.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.modal__video {
    max-height: 50% !important;
    object-fit: contain;
    border-radius: 10px;
    width: auto !important;
}

#videoModal {
    display: none;
}


.slider-nav {
    display: none;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
}

.slider-nav__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #D9D9D9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-nav__dot.active {
    background: #E86B35;
}

.slider-arrow {
    /* position: absolute; */
    /* top: 50%; */
    /* bottom: 0;
    right: 0; */
    transform: translateX(50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    border: none;
    font-size: 20px;
    color: #E86B35;
    border: 1px solid #E86B35;
}

.slider-arrow--prev {
    left: 0px;
    transform: translateX(-50%);
}

.slider-arrow--next {
    right: 0px;
    transform: translateX(50%);
}

.video__arrows {
    width: 200px;
    margin: auto;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.video__reviews {
    transition: transform 0.5s ease;
}

.ref {
    background: #F4F6FC;
    justify-content: center;
    align-items: center;
}

.ref__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ref__title {
    color: #282F3D;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    max-width: 612px;
}

.ref__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: var(--primary-color);
}

.ref__image{
    width: 100%;
    max-width: 481px;
    height: auto;
    object-fit: contain;
}

.faq {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordion-btn {
    background-color: inherit;
    color: #282F3D;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    background: #F4F6FC;
    border-radius: 16px;
    max-width: 758px;
}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    object-fit: contain;
}

.accordion-btn[aria-expanded="true"] .icon {
    transform: rotate(180deg);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-panel {
    background-color: #F4F6FC;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
    max-width: 758px;
    color: #0A0A0AB2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: none;
}

.accordion-panel {
    padding: 0 16px 0 16px;
}

.accordion-panel p {
    margin-bottom: 10px; 
}

.accordion-btn[aria-expanded="true"] + .accordion-panel {
    padding: 0px 16px 16px 16px;
}

.accordion-btn[aria-expanded="true"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-btn[aria-expanded="true"] + .accordion-panel {
    max-height: 1000px;
}

.accordion-btn:hover {
    background-color: #f0f0f0;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title {
    font-size: 32px;
    font-weight: 700;
}

.blog__btn {
    width: 325px;
    font-family: Inter !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center;
    vertical-align: middle;
}

.blog__arrow {
    margin-left: 8px;
}

.blog__articles-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex: 1 1 0%;
}

.blog__loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.blog__article-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    flex: 1 1 0%;
}

.blog__article-content {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 12px;
    height: auto;
}

.blog__article-link {
    border-radius: 20px;
    overflow: hidden;
}

.blog__article-image {
    object-fit: cover;
    height: 216px;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
}

.blog__article-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #1D1D1D;
}

.blog__article-description {
    color: #0A0A0AB2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.blog__article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 12px;
    margin-top: auto;
    padding-bottom: 32px;
}

.blog__article-info-date,
.blog__article-info-views {
    display: flex;
    gap: 12px;
    align-items: center;
}

.blog__article-info-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.blog__article-info-text {
    color: #0A0A0AB2;
    font-size: 16px;
    line-height: 24px;
}

.test__content {
    border-radius: 32px;
    background: #EDF5FF;
    padding: 48px 64px 48px 64px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    width: 100%; 
    position: relative;
     background-image: url('../../img/test/test_image.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-size: 400px;
} 

.test__info {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: start;
    max-width: 730px;
}

.test__title {
    color: #282F3D;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
}

.test__description {
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #282F3D;
}

.test__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 430px;
}

.test__btn {
    width: 100%;
    height: 52px;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    vertical-align: middle;
    border-radius: 14px;
}

.test__policy {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #282F3D;
}

.test__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
}

@media (max-width: 768px){
    .test {
        padding-inline: 0px;
    }
    .test__content {
        flex-direction: column;
        padding-bottom: 150px;
        background-position: right bottom;
        border-radius: 0px;
        padding-inline: 20px;
    }
}


@media (max-width: 1024px) {
    .blog__articles-container {
        flex-direction: column;
    }

    .blog__article-card {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .ref{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .ref__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        
    }

    .ref__link {
            font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
    }


}


@media (max-width: 480px){
    .video__review-wrapper:nth-child(2) {
        min-width: 80%;
    }
    
    .video__review-wrapper:nth-child(1) {
        min-width: 80%;
        height: 520px;
    }    

    .video__review-wrapper:nth-child(3) {
        min-width: 80%;
    }    

    .slider-nav {
        display: flex;
    }

    .video__watch-side {
        display: block;
    }

    .video__reviews {
        justify-content: space-between;
    }
}

@media (max-width: 768px){
    .calculator__container {
        flex-direction: column;
    }

    
}
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 1024px) {
    .toggle-btn {
      width: 100%;
    }

    .toggle-container {
      width: 100%;
      display: flex;
      flex: 1 1 0%;
    }
  }
  
  @media (max-width: 767px) {
    .tariff-table {
      display: none;
    }
    
    .tariff-cards {
      display: flex;
    }
    
    .tariff__card-container {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }

@media (max-width: 1280px){
    .work__steps {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


@media (max-width: 768px) {
    .work__steps {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 1024px){
    .difference__card-double{
        flex-direction: column;
    }

    .difference__card-solo{
        max-width: 100%;
    }

    .difference__card-double .difference__container{
        width: 100%;
    }
}
   
   @media (max-width: 1200px){
       .tryIt__content {
           flex-wrap: wrap;
       }
   
       .tryIt__buttons {
           margin: 0 auto;
       }
   
       .tryIt__text {
           width: calc(100% - 32px - 120px);
           max-width: 100%;
       }
   
       .tryIt__content {
           background-size: cover;
       }
       
   }
   
   @media (max-width: 768px) {
       .tryIt__text {
           width: 100%;
           max-width: 100%;
       }
   
       .tryIt__content {
           padding: 34px 20px;
       }
   
       .tryIt__btn {
           min-width: 0px !important;
           width: 100% !important;
           white-space: normal;
       }
   
       .tryIt {
           padding-inline: 20px;
       }
   }


@media (max-width: 1440px){
    .marketplaces__markets {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1078px) {
    .marketplaces__other {
        flex-wrap: wrap;
    }

    .marketplaces__other > .marketplaces__markets:nth-of-type(1) {
        width: 100%;
    }
    .marketplaces__other > .marketplaces__markets:nth-of-type(2) {
        width: calc(50% - 16px);
    }
    .marketplaces__other > .marketplaces__markets:nth-of-type(3) {
        width: calc(50% - 16px);
    }
    .marketplaces .default__title {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    
    .marketplaces__markets {
        padding: 32px;
    }

    .marketplaces__markets-card {
        width: 45px;
        height: 45px;
        border-radius: 12px;
    }

    .marketplaces__other > .marketplaces__markets:nth-of-type(2) {
        flex-wrap: nowrap;
    }
    .marketplaces__other > .marketplaces__markets:nth-of-type(3) {
        flex-wrap: nowrap;
    }

    .marketplaces__markets::before {
        padding: 12px 24px;
            font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        top: -30px;
    }
    
    .marketplaces__markets:nth-of-type(1)::before {
        content: "Маркетплейсы";
        transform: rotate(-4.09deg) translateX(-5%);
        left: 0%;
    }
    
    .marketplaces__other .marketplaces__markets:nth-of-type(1)::before {
        content: "Недвижимость";
        transform: rotate(-0.21deg) translateX(3%);
        left: 0%;
    }
    
    .marketplaces__markets:nth-of-type(2)::before {
        content: "Карты";
        transform: rotate(-1.97deg) translateX(0%);
        left: 0%;
        right: auto;
    }
    
    
    .marketplaces__markets:nth-of-type(3)::before {
        content: "Соц. сети";
        transform: rotate(-1.97deg) translateX(5%);
        left: 0%;
        right: auto;
    }
}

@media (max-width: 300px) {
    .marketplaces__other > .marketplaces__markets:nth-of-type(2), .marketplaces__other > .marketplaces__markets:nth-of-type(3) {
        flex-wrap: wrap;
    }
}


@media (min-width: 1024px) {
    .preview__invisible {
        display: block;
    }
}

@media (max-width: 1024px) {
    .reviews__cards {
        flex-direction: column;
    }

    .reviews__card {
        width: 100%;
        max-width: none;
        height: 332px;
    }
    .reviews__invisible {
        display: none;
    }

    .slider::before,
    .slider::after {
        width: 100px;

    }
}

@media (max-width: 768px) {
    .slider__track {
        animation: scroll 160s linear infinite;
    }
}

@media (max-width: 480px) {
    .reviews .default__title {
        max-width: 330px;
    }

    .reviews__card-value {
            font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        vertical-align: middle;
    }

    .slider::before,
    .slider::after {
        width: 50px;

    }
}




@media (max-width: 480px) {
    .preview__image {
        max-width: 100%;
        height: auto;
    }
    .preview__button {
        white-space: normal !important;
    }    
}


@media (max-width: 1024px){
    .footer {
        padding-inline: 20px;
    }

    .footer__content {
        padding-inline: 0;
    }

    .footer__top {
        flex-wrap: wrap;
        gap: 48px;
    }

    .footer__info {
        margin-bottom: 64px;
    }
}

@media (max-width: 480px){
    .footer__top {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .footer__links:last-child {
        text-align: left;
     }

    .footer__links:last-child .footer__link {
        justify-content: start;
        gap: 12px;
    }
}

  @media (min-width: 1024px) and (max-width: 1280px) {
    .header {
      padding-inline: 50px;
    }

    .header__nav {
      gap: 1rem;
    }
  }
  
  @media (max-width: 1024px) {
    .header__link {
      display: none;
    }
    .header__btn-reg {
      display: none !important;
    }

    .header__btn {
      background: #fef5ee !important;
      border-radius: 10px;
      width: 40px !important;
      height: 40px !important;
      padding: 0px !important;
    }

    .header__btn-image {
      display: block;
      object-fit: contain;
      margin-right: 0;
    }
  
    .header__btn-text {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .header {
      padding: 16px;
    }
    
    .header__actions {
        display: flex;
        gap: 12px;
    }
  }

@media (max-width: 1024px) {
    section {
        gap: 40px !important;
    }

    .default__title {

        font-weight: 700 ;
        font-size: 32px ;
        line-height: 100% ;
        vertical-align: middle ;
    }

    .default__text {

        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        vertical-align: middle;
    }

}

@media (max-width: 768px) {
    section {
        padding-inline: 20px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .logo {
        width: 88px;
        height: 28px;
        object-fit: contain;
    }
    
    .publish-btn {
        width: 100%;
        height: auto;

        font-weight: 600;
        font-size: 14px !important;
        line-height: 28px !important;
        text-align: center;
        vertical-align: middle;

    }
}
